* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
    color: indianred;
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
    color: indianred;
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}

a{
    text-decoration: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue', serif;
    font-size: 30px;
    font-weight: 200;

}

.site-wrap {
    max-width: 700px;
    margin: 100px auto;
    background: white;
    padding: 40px;
    text-align: left;
}

.btn {
    font-family: "proxima nova", serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: black;
    border: solid 2px indianred;
    border-radius: 20px;
    padding: 2px 10px;

}

.btn:hover {
    background-color: indianred;
    color: white;
}



.btn1 {
    font-family: "proxima nova", serif;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    color: black;
    border: solid 2px darkblue;
    border-radius: 20px;
    padding: 2px 10px;

}

.btn1:hover {
    background-color: darkblue;
    color: white;
}
